body {
	font-family: tahoma, arial, helvetica, sans-serif;
	color: black;
	background-color: #99A6AF;
}

#page {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	background-color: #99A6AF;;
}

body, #socialIcons, #top *, #menu *, #content_bottom *, #bottom *, img {
	margin: 0;
	padding: 0;
	border: 0;
}

#top {
	height: 900px;
	background-image: url(../images/elvis.jpg);
	background-repeat: no-repeat;
	color: white;
    border-radius: 30px;
}

h1 { 
font-family:arial, sans-serif; 
color:blue; 
font-size:32px;
}